---
//@ts-nocheck
import Layout from "../layouts/Layout.astro";
const url = "https://hadmmfptlfanddlnkfpb.supabase.co/rest/v1/Events?select=*";
const key =
  "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhhZG1tZnB0bGZhbmRkbG5rZnBiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDQyNjc2NTQsImV4cCI6MjA1OTg0MzY1NH0.7rDoX5W9Tlin0X-8Kly1Q8RAdLf4-U1V8EkDNV0mpug";
const options = {
  headers: {
    apikey: key,
  },
};

const data = await fetch(url, options).then((res) => res.json());
const { event } = Astro.props;

const date = new Date(event.event_date);
const formattedDate = `${date.getDate()}. ${date.toLocaleString("da-DK", { month: "short" }).toUpperCase()} ${date.getFullYear()}`;

const cleanStart = event.event_start.replace(/:00$/, "");
const cleanEnd = event.event_end.replace(/:00$/, "");

const formattedTime = `${cleanStart} - ${cleanEnd}`;
---

<article>
  <h1>{event.event_title}</h1>
  <h2>{formattedDate} // {formattedTime}</h2>
  <p>{event.event_description}</p>
  <h3>{event.event_location}</h3>
  <button class="cta">
    Tilmeld dig via <a href="https://www.safeticket.dk" target="_blank" rel="noopener noreferrer" class="link"> safeticket.dk </a>
  </button>
  <div class="feature-image">
    <img src="../public/images/torsdagsbarposter.png" alt="Torsdagsbar Poster" />
  </div>
</article>
