---
//@ts-nocheck
import Layout from "../layouts/Layout.astro";
const url = "https://hadmmfptlfanddlnkfpb.supabase.co/rest/v1/Events?select=*";
const key =
  "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhhZG1tZnB0bGZhbmRkbG5rZnBiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDQyNjc2NTQsImV4cCI6MjA1OTg0MzY1NH0.7rDoX5W9Tlin0X-8Kly1Q8RAdLf4-U1V8EkDNV0mpug";
const options = {
  headers: {
    apikey: key,
  },
};

const data = await fetch(url, options).then((res) => res.json());
const { event } = Astro.props;

const date = new Date(event.event_date);
const formattedDate = `${date.getDate()}. ${date.toLocaleString("da-DK", { month: "short" }).toUpperCase()} ${date.getFullYear()}`;

const cleanStart = event.event_start.replace(/:00$/, "");
const cleanEnd = event.event_end.replace(/:00$/, "");

const formattedTime = `${cleanStart} - ${cleanEnd}`;
---

<article class="single-view">
  <div class="content">
    <div class="logo">
      <a href="/">
        <img src="../public/images/kealogo.svg" alt="KEA Logo" />
      </a>
    </div>
    <h1>{event.event_title}</h1>
    <h2>{formattedDate} // {formattedTime}</h2>
    <p class="desc">{event.event_description}</p>
    <p class="location">Lokation: <b>{event.event_location}</b></p>
    <button class="cta">
      Tilmeld dig via <a href="https://www.safeticket.dk" target="_blank" rel="noopener noreferrer" class="link"> safeticket.dk </a>
    </button>
  </div>
  <div class="poster">
    <img src="../public/images/torsdagsbarposter.png" alt="Torsdagsbar Poster" />
  </div>
</article>
<img src="/images/IMG_9572 1.png" alt="" class="MOSS" />
<img src="/images/IMG_9572 1.png" alt="" class="MOSS2" />

<style>
  body {
    background-color: #e4e2dd;
    text-align: center;
  }
  article {
    color: #ff671f;
  }

  .single-view {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    align-items: start;
    padding: 2rem 2rem;
  }

  .logo {
    max-width: 10rem;
    margin: auto;
    margin-top: 2rem;
  }
  a {
    color: #003b5f;
  }

  .cta {
    color: #003b5f;
    font-size: 1.7rem;
  }
  h1 {
    color: #003b5f;
    margin-top: 4rem;
    margin-bottom: 1rem;
  }
  p {
    text-align: center;
    line-height: 1.6rem;
    padding: 1rem;
  }

  .desc {
    margin-top: 1rem;
  }
  .location {
    margin-bottom: 2rem;
  }
  img {
    width: 100%;
    height: auto;
    display: block;
  }

  .poster {
    max-width: 20rem;
    margin: 0 auto;
    margin-top: 2rem;
  }

  .MOSS {
    position: fixed;
    top: -14.5rem;
    right: 0;
    width: 45%; /* Increase from 35% */
    max-width: 200px;
    z-index: 1;
    pointer-events: none;
    object-fit: contain;
  }
  .MOSS2 {
    position: fixed;
    bottom: -16rem;
    width: 45%; /* Increase from 35% */
    max-width: 200px;
    z-index: 1;
    pointer-events: none;
    object-fit: contain;
    rotate: 180deg;
  }

  @media (min-width: 800px) {
    .logo {
      margin: 0;
    }
    .single-view {
      grid-template-columns: 1fr 1fr; /* Stabel layoutet vertikalt */
    }

    .content h1,
    .content h2,
    .content p {
      margin-left: 6rem;
    }

    .poster {
      margin-top: 10rem;
    }

    p,
    h1,
    h2 {
      text-align: left;
    }
    p {
      padding: 0;
    }

    .location {
      margin-top: 2rem;
    }
  }
</style>
